/* Ficheiro: public/css/login.css */

body.login-page {
    display: grid;
    place-content: center;
    min-height: 100vh;
    text-align: center;
}

.login-container h1 {
    color: #ffffff;
    border-bottom: 1px solid #5865F2;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.login-container p {
    color: #b9bbbe;
    margin-bottom: 30px;
}

.login-container a.discord-button {
    background: #5865F2;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.login-container a.discord-button:hover {
    background-color: #4752c4;
    text-decoration: none;
}